 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
 }

body {
    margin-top: 2rem;
    background-color: #00348d;
    color: #fff;
    margin-left: 30px !important;
 }
